development:
  clients:
    default:
      database: knowledgesnippets
      hosts:
        - localhost:27017

production:
  clients:
    default:
      uri: mongodb://heroku_k7snhg93:l5k0fnmia9sbbrgb3961nv6hs6@ds113795.mlab.com:13795/heroku_k7snhg93
      options:
        skip_version_check: true
        safe: true
