development:
  clients:
    default:
      uri: mongodb://heroku_dt6p7z14:rugjepjm9iqujcgtad3pibf5f6@ds119524.mlab.com:19524/heroku_dt6p7z14

production:
  clients:
    default:
      uri: mongodb://heroku_dt6p7z14:rugjepjm9iqujcgtad3pibf5f6@ds119524.mlab.com:19524/heroku_dt6p7z14
      options:
        skip_version_check: true
        safe: true
