<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
  </head>
  <body>
    <table style="width:20%" align="center">
      <tbody>
        <tr>
          <th>Administration</th>
        </tr>
        <tr>
          <td>Username</td>
          <td><%=$user.username%></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><%=$user.password%></td>
        </tr>
        <tr>
          <td>Delete account</td>
          <form onsubmit="return confirm('Are you sure you want to delete your account? It cannot be recovered.')" action='/user/delete/<%= $user.id.to_s %>' method="POST">
            <td><input type="submit" value="Delete" class="delete"></td>
          </form>
        </tr>
        <tr>
          <td align="center"><a href="/users/logout">Logout</a></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
