<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/api/v1/snippets/new" method="POST">
      Question: <input type="text" name="question"><br>
      Answer: <input type="text" name="answer"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
