<html>
  <title>Sparta Snippets</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <script type="text/javascript" src="/javascript/index.js"></script>
    <!-- <script language="JavaScript" type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    
    <script type="text/javascript">
    $(function() {
      setInterval(function () {
        console.log("changing")
        $.get( "/api/v1/snippets/rand", function (data) {
          $("#question").text(data.question)
          $("#answer").text(data.answer)
          console.log(data);
        });
      }, 15000);
    });
    </script>

    <header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
      <div class="navbar" style="width:100%">
        <div class="foo">
          <a id="play-link" style="color:black" onclick="launchFullScreen(document.documentElement)">Go Full Screen</a>
          <a id="manage-link" style="color:black" href="/snippets/manage" style="text-decoration:none">Manage Snippets</a>
        </div>
      </div>
      <div class="w3-display-middle w3-text-white w3-center">
        <!-- <h4 ng-show="!isFullScreen" id="play-h1"><a id="play-link" onclick="launchFullScreen(document.documentElement)">˚Go Full Screen˚</a>  •  <a id="manage-link" href="/snippets/manage" style="text-decoration:none">˚Manage Snippets˚</a></h4> -->
        <h1 id="question" class="w3-jumbo" style="color:#0000FF"></h1>
        <h2 style="color:#0000FF">˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚</h2>
        <h2 id="answer" style="color:#0000FF"><b></b></h2>
        <!-- <h3 ng-show="!isFullScreen" id="play-h3"><a id="manage-link" href="/snippets/manage" style="text-decoration:none">˚Manage Snippets˚</a></h3> -->
      </div>
    </header>
  </body>
</html>
