<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Snippets - Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
  </head>
  <body>
    <!-- <script type="text/javascript">
    $(document).ready(function(){
        $("#foo").click(function(){
            $("#password2").fadeOut(1000);
            setTimeout(function(){ document.getElementById('password2').style.display="none"; }, 3000);
            // document.getElementById('password2').style.display="none";
        });
    });
    </script> -->
    <div id="login-box">
      <div class="left">
        <form action="/registrations" method="POST">
          <h1 align="left">Sign up</h1>
          <%if $flash.key? :reg_error%>
            <label style="max-width: 10px; word-wrap: break-word; font-size: 12px;" id="label"><%=$flash[:reg_error]%></label></br><p> </p>
          <%end%>
          <input type="text" name="reg_username" placeholder="Username" required/>
          <input type="password" name="reg_password" placeholder="Password" required/>
          <input type="password" name="reg_password2" placeholder="Re-type Password" required/>

          <input class="button" type="submit" name="signup_submit" value="Sign me up" /></br>
        </form>
        <form action="/login" method="GET">
          <input class="button" type="submit" value="Login" />
        </form>
      </div>
    </div>
  </body>
</html>
